h1 {
color: whitesmoke;
font-size: 50px;
font-family: 'Merriweather',serif;
text-align: center;
}

.img-circle {
border: 50%;
}

.shadowed {
box-shadow: 5px 5px 3px black;
}

.content {
font-family: 'Merriweather', serif;
background-color: grey;
text-align: center;
border:  10px;
padding: 20px;
margin: 20px;
box-shadow: 5px 5px 3px grey;
width: 700px;
}

.container {
margin-left: auto;
}

p {
font-family: 'Merriweather', serif;
background-color: grey;
text-align: center;

}

h2 {
color: whitesmoke;
font-size: 30px;                                  
font-family: 'Merriweather', serif;
text-align: center;
 }

h3 {
color: whitesmoke;                                    
font-family: 'Merriweather', serif;
text-align: center;

}

 .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #000;
    border: 10px;
    background-color: rgba(149, 141, 139, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(140, 130, 130, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}



 	  
